.searchEngine {
  /* size */
  width: 150px;
  height: 50px;
  box-sizing: border-box;

  /* blank */
  padding: 4px;

  /* border */
  border: 1px solid #fff;
  border-bottom: none;

  /* alignment */
  display: flex;
  align-items: center;
  justify-content: left;

  /* color */
  color: #fff;
}

.searchEngine:hover {
  background-color: #fff;
  color: #000;
}

.searchEngine:last-child {
  border-bottom: 1px solid #fff;
}

.imageContainer {
  /* size  */
  width: 30px;
  height: 40px;

  /* border */
  border-radius: 10px;

  margin-right: 10px;

  /* alignment */
  display: flex;
  position: relative;
}

.img {
  /* size */
  width: 100%;
  height: 100%;
  object-fit: contain;

  /* alignment */
  position: absolute;
}
